.appView {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;

    flex-grow: 1;
    justify-content: center;
    gap: 100px;
    background-color: var(--accent-color-dark);
}

.headerText {
    text-align: center;
    color: var(--bg-color-light);
}

.header h1 {
    font-size: 96px;
    margin-bottom: 0;
}

.header h2 {
    font-size: 48px;
    font-weight: normal;
    font-style: italic;
    margin-top: 0;
}

.imgContainer {
    margin: 10px;
    object-fit: contain;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin-top: 50px;

    font-size: 32px;
    color: var(--accent-color-dark)
}
